*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cart{
  display: flex;
  align-items: top;
  gap: 2rem;
  justify-content: center;
}

.cart--image {
  max-width: 350px;
  border-radius: 9px;
  margin-bottom: 9px;
  
}

.cart--details{
  border: 1px solid black;
  padding: 15px;
  border-radius: 9px ;
}

.cart--quantity{
  display: flex;
  align-items: center ;
  justify-content: space-between;
  margin: 15px;
}

.main--prop--div{
  display: flex;
}

.prop--left--items{
  width: 60%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.prop--images{
  max-width: 150px;
  max-height: 150px;
  margin: 15px;
}

.button--section{
  display: flex;
  gap: 0.5rem;
}
